<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
      <h1>welcome to <%= title %></h1>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Designation</th>
            <th scope="col">Mobile no.</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% if(data.length<1){ %>
          <tr>
            <td colspan="5" class="text-center">No data available in database</td> 
          </tr>
          <% } else{ data.map((v, i)=>{ %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= v.name %></td>
            <td><%= v.email %></td>
            <td><%= v.designation %></td>
            <td><%= v.number %></td>
            <td>
              <a class="edit-btn" href="/edit/<%= v.id  %>"
                ><i class="fa fa-duotone fa-pen-to-square"></i
              ></a>
            </td>
            <td>
              <i
                id="<%= v.id  %>"
                class="delete-btn fa fa-duotone fa-trash"
              ></i>
            </td>
          </tr>
          <% }) }%>
        </tbody>
      </table>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <script>
      const delUser = document.querySelectorAll(".delete-btn");
      delUser.forEach((item) => {
        item.addEventListener("click", (e) => {
          const endpoint = `/deleteUser/${item.id}`;
          console.log(endpoint);
          fetch(endpoint, { method: "DELETE" })
            .then((response) => response.json())
            .then((data) => {
              window.location.href = data.redirect;
            })
            .catch((err) => {
              console.log(err);
            });
        });
      });
    </script>
  </body>
</html>
